<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item> 
    <ion-input type="text" label="Nombres: " [(ngModel)]="txt_nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Apellidos: " [(ngModel)]="txt_apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Telefono: " [(ngModel)]="txt_telefono" (focusout)="verificartelefonoemail()"></ion-input>
    
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Email: " [(ngModel)]="txt_email" (focusout)="verificartelefonoemail()"></ion-input>
   
  </ion-item>
  <ion-label color="danger">{{mensaje}}</ion-label>
  <ion-item>
    <ion-button (click)="guardar()" expand="block" color="success" shape="round">
      Guardar
    </ion-button>
    <ion-button (click)="cancelar()" expand="block" color="warning" shape="round">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>
